/* April 8, 2022 */
body		{background-color: #006363;}

header		{border-radius: 5px;
			text-align: center;
			background: -ms-linear-gradient(left, #006363, #33cccc, #006363);
			background: -moz-linear-gradient(left, #006363, #33cccc, #006363);
			background: -webkit-linear-gradient(left, #006363, #33cccc, #006363);
			background: -o-linear-gradient(left, #006363, #33cccc, #006363);}

article		{background-color: #5ccccc;
			border-radius:	10px;
			margin-top: 5px;
			border: solid #000000 1px;}

a			{display: block;
			width: 95%;
			min-height: 50px;
			text-decoration: none;
			color: #000000;
			font-weight: bold;
			font-size: 80%;
			padding: 3px;
			border-radius: 5px;
			margin: auto;
			margin-top: 5px;
			text-align: center;
			background: -ms-linear-gradient(top, #019391, #34c6cd);
			background: -moz-linear-gradient(top, #019391, #34c6cd);
			background: -webkit-linear-gradient(top, #019391, #34c6cd);
			background: -o-linear-gradient(top, #019391, #34c6cd);}

a:hover		{text-decoration: none;
			color: #ffffff;
			background: -ms-linear-gradient(top, #1d7074, #006064);
			background: -mozlinear-gradient(top, #1d7074, #006064);
			background: -webkit-linear-gradient(top, #1d7074, #006064);
			background: -o-linear-gradient(top, #1d7074, #006064);}
