/* March 11, 2022 */

body		{background-color: #ff9100;
			font-family: Arial;}
			
header		{width: 65%;
			background-color: #216477;
			margin: auto;
			border-radius: 10px;
			text-align: center;
			color: #61b7cf;
			padding: 10px;
			margin-bottom: 15px;}
			
article		{width: 50%;
			background-color: #a65400;
			margin: auto;
			padding: 20px;
			border-radius: 15px;
			text-align: center;}
			
table		{width: 100%;
			background-color: #61b7cf;}

td			{width: 33%;
			vertical-align: top;
			padding: 5px;}
			
h2			{magin: auto;
			background-color: #216477;
			color: #61b7cf;
			margin-top: 0px;}
			
p			{text-align: left;
			margin-top: 0px;}
			
img			{width: 100%;
			border-radius: 5px;
			border: solid #025167 2px;}
