/**March 30, 2022**/

.photo		{border: solid #465c71 4px;
			border-radius: 5px}
			
a 			{display: block;
			width: 175px;
			padding: 10px;
			margin-bottom: 10px;
			background-color: #3a454f;
			border-radius: 5px;
			color: #ffffff;
			text-align: center;
			text-decoration: none}

a:visited	{color: #ffffff}

a:hover		{background-color: #465c71}

article		{width: 550px;
			float: right;
			background-color: #465c71;
			padding: 10px}

aside		{width: 250px;
			height: 300px;
			margin: 3px;
			background-color: #91a5b7;
			border-radius: 5px;
			float: right;
			padding: 10px;
			text-align: center}

body		{background-color: #112a42;
			color: #91a5b7;
			font-family: arial}

header		{width: 800px;
			margin: auto;
			background-color: #465c71;
			border-radius: 5px;
			text-align: center}

h1			{line-height: 40px}

h2			{text-align: center}

h3			{color: #112a42}

nav			{width: 200px; 
			height: 300px;
			text-align: center;
			float: left}

p 			{text-align: justify}

section		{width: 800px;
			margin: auto}

video		{width: 200px}			