/* Apil 4, 2022 */

body		{background-color: rgba(166, 95, 0, 0.8);
			background-image: url(africa.gif);
			background-repeat: no repeat;
			background-position: center top;}

header		{width: 800px;
			margin: auto;
			background-color: rgba(166, 95, 0, 0.8);
			border-radius: 10px;
			text-align: center;
			font-family: Arial;}
		
h1 			{line-height: 50px;}

img			{width: 300px;
			border-radius: 10px;
			border: solid #000000 1px;
			margin: 20px;
			-ms-filter: opacity(40%);
			-moz-filter: opacity(40%);
			-webkit-filter: opacity(40%);
			-o-filter: opacity(40%);}
		
img:hover	{-ms-filter: opacity(100%);
			-moz-filter: opacity(100%);
			-webkit-filter: opacity(100%);
			-o-filter: opacity(100%);
			
			transform: scale(1.5, 1.5);
			-ms-transform: scale(1.5, 1.5);
			-moz-transform: scale(1.5, 1.5);
			-webkit-transform: scale(1.5, 1.5);
			-o-transform: scale(1.5, 1.5);
			
			-ms-transition: all 1s ease-out;
			-webkit-transition: all 1s ease-out;
			-moz-transition: all 1s ease-out;
			-o-transition: all 1s ease-out;}
			
section 	{width: 700px;
			margin: auto;}