/* March 16, 2022 */

body		{background-color: #ad66d5;
			font-family: Arial;
			text-align: center;}

header		{margin: auto;
			width: 800px;
			background-color: #a6a600;
			text-align: center;
			color: #48036f;
			border-radius: 10px;
			-ms-transform: skewx(20deg);
			-webkit-transform: skewx(20deg);
			-moz-transform: skewx(20deg);
			-O-transform: skewx(20deg);}
			
h1			{line-height: 50px;}

section		{width: 670px;
			margin: auto;
			padding: 20px;
			background-color: #5f2580;
			border-radius: 10px;
			text-align: center;}
			
table		{width: 670px;
			margin: auto;}

th			{background-color: #bfbf30;}

td			{background-color: #ffff73;}