/* March 15, 2022 */

#box1		{position: absolute;
			height: 200px;
			width: 200px;
			background-color: #bf7130;
			text-align: center;
			left: 200px;
			top: 100px;}
			
#box2		{position: absolute;
			height: 200px;
			width: 200px;
			background-color: #33cccc;
			text-align: center;
			left: 400px;
			top:100px;}

#box3		{position: absolute;
			height: 200px;
			width: 200px;
			background-color: #33cccc;
			text-align: center;
			left: 200px;
			top: 300px;}
			
#box4		{position: absolute;
			height: 200px;
			width: 200px;
			background-color: #bf7130;
			text-align: center;
			left: 400px;
			top: 300px;}
			
.smBox		{position: relative;
			top: 50%;
			padding: 5px;
			background-color: #ffffff;
			border: double #009999 3px;
			font-size: 14pt;
			font-weight: bold;}
			
body		{background-color: #ccccff;
			font-family: Arial;}

header		{position: relative;
			left: 100px;
			width: 800px;
			background-color: #006363;
			text-align: center;
			border-radius: 10px;}
			
h1			{line-height: 50px;
			color: #ffffcc;}

section		{position: relative;
			left: 100px;
			width: 800px;
			height: 600pc;
			background-color: #ffffcc;
			border: dashed #000000 1px;}
			
#box1:hover	{border-radius: 200px;
			transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transition: all 1s ease-in;
			-webkit-transition: all 1s ease-in;
			-moz-transition: all 1s ease-in;
			-o-transition: all 1s ease-in;}
			
#box2:hover	{border-radius: 200px;
			transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transition: all 1s ease-in;
			-webkit-transition: all 1s ease-in;
			-moz-transition: all 1s ease-in;
			-o-transition: all 1s ease-in;}

#box3:hover	{border-radius: 200px;
			transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transition: all 1s ease-in;
			-webkit-transition: all 1s ease-in;
			-moz-transition: all 1s ease-in;
			-o-transition: all 1s ease-in;}
			
#box4:hover	{border-radius: 200px;
			transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transition: all 1s ease-in;
			-webkit-transition: all 1s ease-in;
			-moz-transition: all 1s ease-in;
			-o-transition: all 1s ease-in;}