#article1		{position: absolute;
				background-color: rgba(191, 109, 48, 0.8);
				padding: 5px;
				border-radius: 10px;
				border: solid #000000 1px;
				top: 115px;
				left: 140px;
				height: 260px;
				width: 700px;}
				
#article2		{position: absolute;
				background-color: rgba(191, 109, 48, 0.8);
				padding: 5px;
				border-radius: 10px;
				border: solid #000000 1px;
				height: 250px;
				width: 700px;
				left: 140px;
				top: 405px;}
				
#riddle			{position: absolute;
				background-color: rgba(191, 109, 48, 0.8);
				padding: 5px;
				border-radius: 10px;
				border: solid #000000 1px;
				left: 300px;
				width: 400px;
				height: 250px;
				top: 685px;}
				
#article4		{position: absolute;
				background-color: rgba(191, 109, 48, 0.8);
				padding: 5px;
				border-radius: 10px; 
				border: solid #000000 1px;
				left: 140px;
				width: 300px;
				height: 250px;
				top: 965px;}
				
#article5		{position: absolute;
				background-color: rgba(191, 109, 48, 0.8);
				padding: 5px;
				border-radius: 10px;
				border: solid #000000 1px;
				left: 540px;
				width: 300px;
				height: 250px;
				top: 965px;}
				
body			{background-image: url(background.gif)}

header			{position: absolute;
				top: 10px;
				left: 150px;
				width: 700px;
				height: 75px;
				background-color: #a64600;
				border-radius: 10px;
				text-align: center;}
				
h1				{color: #ffae73;}

h2				{text-align: center;}

p				{text-align: justify;
				font-family: Arial;
				font-weight: bold;}