/**March 30, 2022**/

body		{background: -ms-linear-gradient(top, #336699, #ffffff);
			background: -moz-linear-gradient(top, #336699, #ffffff);
			background: -webkit-linear-gradient(top, #336699, #ffffff);
			background: -0-linear-gradient(top, #336699, #ffffff);}

div			{clear: both;
			text-align: center;}

h1			{text-align: center;}

p			{padding: 15px;
			margin-right: 305px;
			font-size: 14pt;
			text-align: justify;}

section		{width: 750px;
			margin: auto;
			background-color: #b3b1b1;
			border: solid #000000 2px;}